body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #3c3c3c;
}

h1 {
    color: white;
}

label {
    color: white;
}

/*delete button has spacaing*/
button {
    margin: 2px;
}